.btn-menu{
    background: #4b78ea;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.btn-menu:hover{
    background: #dfddea;
    transform: translateY(-2px);
}
