<div style="min-height: 100vh; background-image: url('https://media.istockphoto.com/id/2154202699/photo/dark-gym-interior-with-sports-equipment-empty-room-in-the-morning.jpg?s=612x612&w=0&k=20&c=Z2tt0g_VscMP0blcJk4oka7h3niwntI3UnLZR9tmR_g='); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center;">
  <div class="container" style="max-width: 400px;">

  <h2 class="text-center text-warning mb-4">Control de Acceso</h2>
  
   
  <!-- Alerta de error con *ngIf -->
  <div *ngIf="error" class="alert alert-danger text-center animate__animated animate__fadeIn"> 
    {{ error }} 
  </div> 

  <form #formLogin="ngForm" (ngSubmit)="login()"> 
    <!-- Usuario -->
    <div class="mb-3"> 
      <label class="form-label text-light">Usuario</label> 
      <input type="text" class="form-control" [(ngModel)]="usuario" name="usuario"required minlength="3" maxlength="20"required minlength="3" maxlength="40"required  placeholder="Introduce tu usuario"> 
    </div> 

    <!-- Contraseña -->
    <div class="mb-3"> 
      <label class="form-label text-light">Contraseña</label> 
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required minlength="3" maxlength="20" required placeholder="••••••••"> 
    </div> 

    <!-- Botón de ingreso que se deshabilita si los campos están vacíos -->
    <button type="submit" class="btn btn-warning w-100 mt-2" [disabled]="formLogin.invalid">
      Ingresar al Sistema
    </button> 
  </form> 
</div>